<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cuotas</ion-title>
  </ion-toolbar>
</ion-header>
<div class="header">
  <div class="end-align">

  </div>
  <div class="center">
   
    
    <div class="content">
        <mat-table #table class="table" [dataSource]="dataSource">
            <ng-container matColumnDef="category">
                <mat-header-cell  *matHeaderCellDef> Categoria </mat-header-cell>             
                <mat-cell  *matCellDef="let item">
                  {{item.category}}
                </mat-cell>
              </ng-container>
        
            <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.description}} 

            </mat-cell>
            </ng-container>

            <ng-container matColumnDef="amount">
                <mat-header-cell *matHeaderCellDef> Saldo </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.amount | currency}}
                     </mat-cell>
            </ng-container>           

            <ng-container matColumnDef="count">
                <mat-header-cell *matHeaderCellDef> Cuotas </mat-header-cell>
                <mat-cell *matCellDef="let item">{{item.actualCount}}/{{item.countDues}}
                     </mat-cell>
            </ng-container>          

            <ng-container matColumnDef="date">
              <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
              <mat-cell *matCellDef="let item"> {{item.date}}
                   </mat-cell>
          </ng-container>           
            
           
        
            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let item; columns: displayedColumns;"
            [class.user-pointer]="false" matRipple>
            </mat-row>
        
        
        
         </mat-table>
    </div>
</div>

</div>
